<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
  <h2>My Heroes</h2>
    <ul class="tasks">
      <li *ngFor='let task of tasks'>
        <span class='badge'>{{task.id}}</span><span class='task_name'>{{task.name}}</span>
      </li>
    </ul>
  <h2>Current Task: {{task.name}}</h2>
  <div><label>id: </label>{{task.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="task.name" placeholder="name">
  </div>
</div>
